<footer class="jumbotron">
	<div class='container'>
		<div class="row">
			<div class="col-md-12">
				 <div class="col-md-4">
				 	  <h3><strong>CODE7EVEN</strong></h3>
				 	  <p>Lorem ipsum dolor dolor sit amer, consectetur
				 	  adipiscing elit. Cras vitae enim enim. sed nec
				 		dignissim purus.</p>
						
						<br>
				 		<ul class="list-unstyled list-inline">
				 			<li>
				 				<%= link_to root_path do %>
				 					<i class='glyphicon glyphicon-search'></i>
				 				<% end %>
				 			</li>
				 			<li>
				 				<%= link_to root_path do %>
				 					<i class='glyphicon glyphicon-search'></i>
				 				<% end %>
				 			</li>
				 			<li>
				 				<%= link_to root_path do %>
				 					<i class='glyphicon glyphicon-search'></i>
				 				<% end %>
				 			</li>
				 			<li>
				 				<%= link_to root_path do %>
				 					<i class='glyphicon glyphicon-search'></i>
				 				<% end %>
				 			</li>
				 			<li>
				 				<%= link_to root_path do %>
				 					<i class='glyphicon glyphicon-search'></i>
				 				<% end %>
				 			</li>
				 			<li>
				 				<%= link_to root_path do %>
				 					<i class='glyphicon glyphicon-search'></i>
				 				<% end %>
				 			</li>
				 		</ul>
						
						<br>
				 		<p>Copyright &copy 2018. <strong>All rights reserved</strong></p>
				 </div>				
				 <div class="col-md-2">
				 	 <ul class="list-unstyled">
				 	 		<li><h4><strong>Services</strong></h4></li>
				 	 		<li><%= link_to 'Social media', '' %></li>
				 	 		<li><%= link_to 'Management', '' %></li>
				 	 		<li><%= link_to 'Branding', '' %></li>
				 	 </ul>
					
					 <br>
				 	 <ul class="list-unstyled">
				 	 		<li><h4><strong>Aditionals</strong></h4></li>
				 	 		<li><%= link_to 'Social media', '' %></li>
				 	 		<li><%= link_to 'Management', '' %></li>
				 	 		<li><%= link_to 'Branding', '' %></li>
				 	 </ul>
				 </div>
				 <div class="col-md-2">
				 	 <ul class="list-unstyled">
				 	 		<li><h4><strong>Menu</strong></h4></li>
				 	 		<li><%= link_to 'Home', '' %></li>
				 	 		<li><%= link_to 'About us', '' %></li>
				 	 		<li><%= link_to 'Services', '' %></li>
				 	 		<li><%= link_to 'Portfolio', '' %></li>
				 	 		<li><%= link_to 'Blog', '' %></li>
				 	 		<li><%= link_to 'Contact', '' %></li>
				 	 		<li><%= link_to 'Testimonials', '' %></li>
				 	 </ul>
				 </div>
				 <div class="col-md-2">
				 	 <ul class="list-unstyled">
				 	 		<li><h4><strong>About Us</strong></h4></li>
				 	 		<li><%= link_to 'The team', '' %></li>
				 	 		<li><%= link_to 'History',  '' %></li>
				 	 		<li><%= link_to 'Company',  '' %></li>
				 	 		<li><%= link_to 'Support',  '' %></li>
				 	 </ul>
				 </div>
				 <div class="col-md-2">
				 	 <ul class="list-unstyled">
				 	 		<li><h4><strong>Community</strong></h4></li>
				 	 		<li><%= link_to 'Blog', '' %></li>
				 	 		<li><%= link_to 'Forums', '' %></li>
				 	 		<li><%= link_to 'Q&A', '' %></li>
				 	 		<li><%= link_to 'Purposes', '' %></li>
				 	 </ul>
				 </div>
			</div>
		</div>
	</div>
</footer>